{% set nvm = salt['grains.filter_by']({
    'Debian':{
        'version':'v0.12.2',
        'path':'$PATH:/liming/',
        },
    'RedHat':{
        'version':'v0.12.2',
        },
    },merge=salt['pillar.get']('nvm:lookup'))

%}
