    'RedHat':{
        'php_pkg': 'php',
        'fpm_pkg': 'php-fpm',
        'fpm_service':'php-fpm',
        'mysql_pkg': 'php-mysqlnd',
        'mysqlnd_pkg': 'php-mysqlnd',
        'pear_pkg': 'php-pear',
        'soap_pkg': 'php-soap',
        'sqlite_pkg': 'php-common',
        'imagick_pkg':'php-pecl-imagick',
        'xml_pkg': 'php-xml',
        'imap_pkg': 'php-imap',
        'ldap_pkg': 'php-ldap',
        'memcached_pkg': 'php-pecl-memcached',
        'mbstring_pkg': 'php-mbstring',
        'mcrypt_pkg': 'php-mcrypt',
        'curl_pkg': 'curl',
        'gd_pkg': 'php-gd',
        'json_pkg': 'php-common',
        'opcache_pkg': 'php-pecl-zendopcache',
        'php_ini': '/etc/php.ini',
        'dev_pkg': 'php-dev',
        'fpm_conf': '/etc/php-fpm.conf',
        'fpm_conf.d': '/etc/php-fpm.d',
        'source_salt': 'salt://php5/conf/fpm/php-fpm.conf',
        },
