{% set php = salt['grains.filter_by']({
    'Debian':{
        'php_pkg': 'php5',
        'fpm_pkg': 'php5-fpm',
        'fpm_service':'php5-fpm',
        'mysql_pkg': 'php5-mysql',
        'mysqlnd_pkg': 'php5-mysqlnd',
        'pear_pkg': 'php-pear',
        'soap_pkg': 'php-soap',
        'sqlite_pkg': 'php5-sqlite',
        'imagick_pkg':'php5-imagick',
        'xml_pkg': 'php5-xml',
        'imap_pkg': 'php5-imap',
        'ldap_pkg': 'php5-ldap',
        'memcache_pkg': 'php5-memcache',
        'memcached_pkg': 'php5-memcached',
        'mbstring_pkg': 'php5',
        'mcrypt_pkg': 'php5-mcrypt',
        'curl_pkg': 'php5-curl',
        'gd_pkg': 'php5-gd',
        'json_pkg': 'php5-json',
        'opcache_pkg': 'php5-pecl-zendopcache',
        'php_ini': '/etc/php5/fpm/php.ini',
        'dev_pkg': 'php5-dev',
        'fpm_conf': '/etc/php5/fpm/php-fpm.conf',
        'fpm_confd': '/etc/php5/fpm/pool.d',
        'source_salt': 'salt://file/php5/ubuntu/fpm/php-fpm.conf',
        'confd_source_salt': 'salt://file/php5/ubuntu/fpm/pool.d',
        },
    'RedHat':{
        'php_pkg': 'php55-php',
        'fpm_pkg': 'php55-php-fpm',
        'fpm_service':'php55-php-fpm',
        'mysql_pkg': 'php55-php-mysqlnd',
        'mysqlnd_pkg': 'php55-php-mysqlnd',
        'pear_pkg': 'php55-php-pear',
        'soap_pkg': 'php55-php-soap',
        'sqlite_pkg': 'php55-php-common',
        'imagick_pkg':'php55-php-pecl-imagick',
        'xml_pkg': 'php55-php-xml',
        'imap_pkg': 'php55-php-imap',
        'ldap_pkg': 'php55-php-ldap',
        'memcache_pkg': 'php55-php-pecl-memcache',
        'memcached_pkg': 'php55-php-pecl-memcached',
        'mbstring_pkg': 'php55-php-mbstring',
        'mcrypt_pkg': 'php55-php-mcrypt',
        'curl_pkg': 'curl',
        'gd_pkg': 'php55-php-gd',
        'json_pkg': 'php55-php-common',
        'opcache_pkg': 'php55-php-opcache',
        'php_ini': '/etc/php.ini',
        'dev_pkg': 'php55-php-devel',
        'fpm_conf': '/etc/php-fpm.conf',
        'fpm_confd': '/etc/php-fpm.d',
        'source_salt': 'salt://file/php5/centos/php-fpm.conf',
        'confd_source_salt': 'salt://file/php5/centos/php-fpm.d',
        },
},merge=salt['pillar.get']('php:lookup')) %}
